/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font-family:'Source Sans Pro', sans-serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



/*****************************************************************************
    Layout
*****************************************************************************/
#AppStore{
    width: 100%;
    position: relative;
    overflow-x: hidden;
}
IMG{max-width:100%;}
* {
    box-sizing: border-box;
}    
.container{
    width:1175px;
    margin:0 auto;
    max-width:86%;
    position: relative;
}
HEADER .container,
.Banner .container{
    width:1440px;
}    
.ColLeft{
    width:50%;
    padding: 22px 0 22px 0px;
    display: inline-block;
    text-align: left;
}
.ColRight{
    width:50%;
    padding: 22px 0px 22px 0px;
    display: inline-block;
    text-align: right;
}
.Banner{
    background-color:#6ee8ff;
}
.Banner FIGURE{
    width: 100%;
    height: 480px;
    position: relative;
}
.Banner FIGURE IMG{
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 10;
}
.Banner figcaption{
    position: absolute;
    left:132px;
    bottom:48px;
    z-index: 20;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size:64px;
    color:#ffffff;
    text-align:left;
}
.UserName{
    font-family:'Source Sans Pro', sans-serif;
    font-size:24px;
    font-weight: 500;
    color:#616161;
    letter-spacing:-0.15px;
}
.Points{
    background:#ededed;
    border-radius:100px;
    width:103px;
    /* height:48px; */
    font-size:24px;
    color:#616161;
    letter-spacing:-0.15px;
    text-align:center;
    font-weight: 400;
    padding: 5px 15px;
    margin: 0 0 0 10px;
}
.Points IMG{
    vertical-align: middle;
    margin: 0 0 0 6px;
} 
.Config{
    width:42px;
    height: 42px;
    background: url(assets/icons/setting.svg) center no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    margin:0 0 0 5px;
    cursor: pointer;
    animation: rotation 3s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.UserName EM{
    font-style: normal;
    font-size: 14px;
}

/*FILTERS & PAGINATION*/
.UserActions{
   width:100%;
   padding:65px 0 25px;
   border-bottom:1px solid #D9D9D9;
   background: #f5f5f5;
}
.PagInfo{
    text-align: right;
    padding: 30px 0 10px;
}
.PagInfo *{
    display: inline-block;
    width: auto;
}
.PagInfo P{
    margin: 0 20px 0 0;
    font-size:24px;
    font-weight: 300;
    color:#616161;
    letter-spacing:-0.15px;
    line-height:48px;
    text-align:left;
}
.MuiPaginationItem-page.Mui-selected {
    background-color: #6ee8ff !important;
}
.MuiInputBase-root{
    width: 100%;
}
.BtnFilterPrice{
    background-color:rgba(0, 0, 0, 0.05);
    margin:15px 15px 0;
} 
.BtnFilterPrice.active{
    background-color: #6ee8ff;
}
.BtnFilterPrice.Lst{
    margin-right: 0;
}
#FilterAlpha{
    margin:24px 0px 24px 24px;
}
.MuiSelect-select:focus{
    background: none !important;
}

/*PRODUCTS*/
.SectProds .container,
.Paginate .container{
    width: 1175px;
    max-width: 80%;
}
.FullWidth{
    width: 100%;
}
.Products{
    width: 100%;
    padding: 18px 0 34px;
}
.Product{
    width:24.25%;
    max-width: 277px;
    height: 277px;
    margin:0 0 1.9% 1.9%;
    padding: 24px;
    display: inline-block;
    box-shadow: 0 7px 20px 0 #CCC;
    -moz-box-shadow: 0 7px 20px 0 #CCC;
    -webkit-box-shadow: 0 7px 20px 0 #CCC;
    -o-box-shadow: 0 7px 20px 0 #CCC;
    background: #FFF;
    cursor:pointer;
    position: relative;
    overflow: hidden;
}
.Product:nth-child(4n-7) {
    margin-left:0; 
}
.Product FIGURE{
    width: 100%;
    height: 167px;
    text-align: center;
    vertical-align: bottom;
}
.Product FIGURE IMG{
   max-width: 100%;
   display: inline-block;
}
.Product .Info{
   width: 100%;
   margin:0px 0 0;
   padding: 24px 0 0;
   border-top:1px solid #D9D9D9;
}
.Product P{
    font-size:16px;
    color:#a3a3a3;
    letter-spacing:-0.04px;
    text-align:left;
}
.Product H4{
    margin:10px 0 0;
    font-size:18px;
    font-weight: 400;
    color:#616161;
    letter-spacing:-0.04px;
    text-align:left;
}
.Product .Icons{
    position: absolute;
    top:12px;
    right:12px;
    width: 100%;
}
.Product .Icon{
    display: inline-block;
    position: absolute;
    top:0;
    right: 0;
    z-index: 10;
}
.Product .Icon.Cart{
    width: 42px;
    height: 42px;
    display: inline-block;
    background: url(assets/icons/buy-blue.svg) top right no-repeat;
    background-size: 42px 42px;
}
.Product:hover .Icon.Cart{
    background: url(assets/icons/buy-white.svg) top right no-repeat;
    background-size: 42px 42px;
}
.Product .Icon.PointsLess{
    font-size:14px;
    vertical-align: middle;
    background-color: rgba(128, 128, 128, 30);
    color: rgba(128, 128, 128, 30);
    padding: 11px 9px 9px 17px;
    border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;

}
.Product .Icon.PointsLess STRONG{
    color:#FFF;    
    letter-spacing:-0.03px;
    text-align:right;
    font-weight: 400;
    margin: 0 5px 0 0;
}
.Product .Icon.PointsLess IMG{
    vertical-align: middle;
    width: 24px;
}
.Product .Hover{
    opacity: 0;
    position: absolute;
    top:100%;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    /* background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, rgb(45, 220, 251)),
	color-stop(0.61, rgb(68, 196, 243))
);
background-image: -o-linear-gradient(bottom, rgb(45, 220, 251) 0%, rgb(68, 196, 243) 61%);
background-image: -moz-linear-gradient(bottom, rgb(45, 220, 251) 0%, rgb(68, 196, 243) 61%);
background-image: -webkit-linear-gradient(bottom, rgb(45, 220, 251) 0%, rgb(68, 196, 243) 61%);
background-image: -ms-linear-gradient(bottom, rgb(45, 220, 251) 0%, rgb(68, 196, 243) 61%);
background-image: linear-gradient(to bottom, rgb(45, 220, 251) 0%, rgb(68, 196, 243) 61%); */
    /*alpha*/
    background: -moz-linear-gradient(top,  rgba(45,219,251,0.85) 0%, rgba(68,197,243,0.85) 100%);
background: -webkit-linear-gradient(top,  rgba(45,219,251,0.85) 0%,rgba(68,197,243,0.85) 100%);
background: linear-gradient(to bottom,  rgba(45,219,251,0.85) 0%,rgba(68,197,243,0.85) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b32ddbfb', endColorstr='#b344c5f3',GradientType=0 );

}
.Product:hover .Hover{
    top: 0;
    opacity: 1;
}
.vertical-center {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.Hover H5{
    width: 100%;
    font-size:36px;
    font-weight: 400;
    color:#ffffff;
    letter-spacing:-0.08px;
    text-align:center;
    padding: 0 0 10px;
}
.Hover H5 IMG{
    width: 34px;
    vertical-align: middle;
    margin:0 0 0 5px;
}
button {
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;

    background:#FFF;
    width:228px;
    height:42px;
    font-size:18px;
    color:#616161;
    letter-spacing:-0.04px;
    text-align:center;
    border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
}

button:hover,
button:focus {
    background: #616161;
    color:#FFF;
}

button:focus {
    /* outline: 1px solid #fff; 
    outline-offset: -4px;*/
    background:#FABA0E;
    border:none;
    outline: none;
    color:#333;
}

button:active {
    transform: scale(0.99);
}


/****************************************************************************
    SIDEBAR
*****************************************************************************/
.side-bar {
    position: absolute;
    top:0;
    /* right: -600px; */
    height: 100vh;
    height: 100%;
    display: inline-block;
    border-left: 1px solid  #6ee8ff;
    background-color: rgb(255, 255, 255);
    transition: 0.8s ease;
    z-index: 100;
    padding: 30px;
    text-align: center;
    -webkit-box-shadow: -20px 10px 10px -20px #050505;
    box-shadow: -20px 10px 10px -20px #050505;
}
.toggle-menu {
    height: 50px;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 9rem;
    width: 10px;
    position: absolute;
    left:0;
    outline: none;
    z-index: 1;
    background-color: rgba(64, 194, 133, 0.693);
    border-color: rgba(64, 194, 133, 0.693);
    border-left: 0;
}
.CloseBtn{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor:pointer;
}
.Userinfo{
    width:100%;
}
.Userinfo FIGURE{
    width:160px;
    height: 160px;
    border-radius: 50%;
    background: #F5F5F5;
    display: inline-block;
    margin: 0 0 20px;
}
.Userinfo .UserName{
    font-size: 30px;
} 
.HistRedeem{
    padding: 30px 0 0;
}
.HistRedeem .WrpTitle{
    width: 100%;
    padding: 0 0 10px;
    border-bottom: 1px dashed #ccc;
    margin: 0 0 30px;
    text-align: left;
}
.HistRedeem H3{
    width: 48%;
    text-align: left;
    font-size: 23px;
    font-weight: 300;
   display: inline-block;
}
#FilterHistory{
    display: inline-block;
    width: 52%;
    text-align: right;
    vertical-align: middle;
}
#FilterHistory .MuiGrid-item{
    font-size: 14px !important;
    font-weight: 300;
    padding-top: 0;
    padding-bottom: 10px;
}
#FilterHistory .MuiTypography-body1{
    display: inline-block;
}

.HistRedeem H6{
    font-size: 24px;
    font-weight: 300;
}
.HistRedeem .Product{
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 0 30px;
    padding: 17px 10px;
    cursor: default;
}
.HistRedeem .Product H4{
    font-size:20px;
    margin: 8px 0 0;
}
.HistRedeem .Product .Icons,
.HistRedeem .Product .Hover{
    display: none;
}
.HistRedeem .Product FIGURE {
    width: 35%;
    height: 120px;
    float: left;
    text-align: center;
    vertical-align: bottom;
}
.HistRedeem .Product .Info{
    border:none;
    padding: 0px 0 0;
}
.HistRedeem .Product P{
    margin: 8px 0 0;
}
.HistRedeem .Product P:first-child{
    margin:0;
    font-size: 14px;
    border-bottom: 1px dashed #CCC;
    padding: 0 0 3px;
}
.btnAll{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    margin: 30px 0px 0;
    padding: 10px 30px;
    color:#FFF;
}
/****************************************************************************
    MODAL
*****************************************************************************/
.modal {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em 1em;
    z-index: 999999;
    box-sizing: border-box;
  }
  
  .modal.modal-fade {
    animation: fade-in 1s 1 linear;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  
  .modal > .modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .modal > .modal-close {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #5e5e5e;
    cursor: pointer;
    font-size: 1.25em;
    padding: 7px;
    background: rgba(255, 255, 255, 0.749);
    border: 1px solid #c3c0c0;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
  }
  
  .modal > .modal-close:hover {
    background: rgba(255, 255, 255, 0.989);
  }
  
  .modal > .modal-body {
    z-index: 2;
    position: relative;
    margin: 0 auto;
    background-color: #303030;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
    width: 50vw;
    height: 70vh;
    padding: 15px 20px;
    color: #c3c0c0;
  }
  
@keyframes fade-in {
    0% {
      animation-timing-function: cubic-bezier(0.2242, 0.7499, 0.3142, 0.8148);
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
.modal-body H5{
    font-size: 25px;
    font-weight: 300;
    color:#FFFFFF;
    padding: 10px 0 10px;
    border-bottom: 1px dashed #FFF;
}
.ModalInfo{
    width: 100%;
    text-align: center;
}
.ModalInfo H6{
    width: 100%;
    padding: 30px 0 0;
    font-size: 30px;
    font-weight: 300;
    color:#FFFFFF;
}
.ModalInfo P{
    width: 100%;
    padding: 20px 0 0;
    font-size: 20px;
    font-weight: 300;
    color:#FFFFFF;
}
.ModalInfo STRONG{
    color:#6ee8ff;
    font-weight: 400;
}
.ModalInfo .Actions{
    width: 100%;
    margin: 30px 0 0;
}
.ModalInfo .Btn{
    margin:0 10px;
    border-style: solid;
    border-width: 2px;
    color:#FFF;
}
.ModalInfo .Btn.Cancel{
    border-color:#333;
    background-color: #666;
}
.ModalInfo .Btn.Ok{
    border-color: #6ee8ff;
    background-color: deepskyblue;
}
.ModalInfo .Resp{
    width: 100%;
}
.ModalInfo .Resp P{
    padding: 0px 0 30px;
}
.ModalInfo .Resp P:first-child{
    font-size: 30px;
    padding: 50px 0 30px;
}
/****************************************************************************
    HISTORY
*****************************************************************************/
#History{
    width: 100%;
    padding: 0 0 50px;
}
#History .HistRedeem{
    text-align: center;
}
#History .btnAll.w40{
    width: 40%;
}
/* #History .Product{
    width: 29.3%;
    margin: 0 2% 50px;
    vertical-align: top;
} */
.ProdGrid{
    width:100%;
    padding:0px;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.ProdGrid .Product{
    width: 32%;
    margin: 0 0% 50px;
    vertical-align: top;
    
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    text-align: center;
  }
/****************************************************************************
    ADD POINTS
*****************************************************************************/
.SliderPoints{
    width:300px;
    margin: 80px auto 10px;
}
.SliderPoints SPAN.MuiSlider-markLabel{
    color:#FFF;
  }
#RadioPuntos{
    margin: 40px auto 10px;       
}